.gradle/
*.apk
*.so
.cxx
.cxx/
.externalNativeBuild
.externalNativeBuild/
build
build/
obj
obj/
VINS_Mobile_AndroidPort/.cxx
VINS_Mobile_AndroidPort/.cxx/
VINS_Mobile_AndroidPort/.externalNativeBuild
VINS_Mobile_AndroidPort/.externalNativeBuild/
VINS_Mobile_AndroidPort/build
VINS_Mobile_AndroidPort/build/
VINS_Mobile_AndroidPort/app/.cxx
VINS_Mobile_AndroidPort/app/.cxx/
VINS_Mobile_AndroidPort/app/.externalNativeBuild
VINS_Mobile_AndroidPort/app/.externalNativeBuild/
VINS_Mobile_AndroidPort/app/build
VINS_Mobile_AndroidPort/app/build/
VINS_Mobile_AndroidPort/app/libs/VINS-Mobile-master/VINS_ThirdPartyLib/ceres-solver/obj
VINS_Mobile_AndroidPort/app/libs/VINS-Mobile-master/VINS_ThirdPartyLib/ceres-solver/obj/
